<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <bean id="serviceLocatorFactory" class="org.osaf.cosmo.service.ServiceLocatorFactory">
    <property name="atomPrefix" value="/atom"/>
    <property name="cmpPrefix" value="/cmp"/>
    <property name="davPrefix" value="/dav"/>
    <property name="morseCodePrefix" value="/mc"/>
    <property name="pimPrefix" value="/pim"/>
    <property name="webcalPrefix" value="/webcal"/>
    <property name="securityManager" ref="securityManager"/>
  </bean>

</beans>
