<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

  <!--  ICalendar Client Filter Manager 
        The ICalendar Client Filter Manager provides a way
        for cosmo to tailor the icalendar data depending
        on the client requesting the data.
  -->
  
  <!--  filter for iCal clients -->
  <bean id="ical3ClientFilter" class="org.osaf.cosmo.api.icalendar.ICal3ClientFilter"/>
  
  <bean id="iCalendarClientFilterManager" class="org.osaf.cosmo.api.icalendar.ICalendarClientFilterManager">
     <property name="clientFilters">
       <map>
         <entry key="ical2" value-ref="ical3ClientFilter"/>
         <entry key="ical3" value-ref="ical3ClientFilter"/>
       </map>
     </property>
  </bean>
  
  <!--  servlet filter to determine client and initialize the manager -->
  <bean id="clientICalendarFilterManagerFilter" class="org.osaf.cosmo.filters.ClientICalendarFilter">
        <property name="filterManager" ref="iCalendarClientFilterManager"/>
        <property name="clientKeyMap">
            <map>
                <entry key=".*iCal 2.*" value="ical2"/>
                <entry key=".*iCal 3.*" value="ical3"/>
            </map>
        </property>
  </bean>

</beans>
