<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
  ">

  <import resource="classpath:applicationContext-mock.xml" />
  <import resource="classpath:applicationContext-hibernate.xml"/>

  <bean id="cosmoConfigPath" class="java.lang.String">
    <constructor-arg>
      <value>classpath:cosmo.properties</value>
    </constructor-arg>
  </bean>

  <!-- we don't need these, but we have to override the bean definition
       from applicationContext.xml -->
  <bean id="mailSession" class="java.lang.String"/>  
  <bean id="exporter" class="java.lang.String"/>
  <bean id="dbInitializer" class="java.lang.String"/>
  <bean id="cosmoScheduler" class="java.lang.String"/>
  <bean id="schedulerManager" class="java.lang.String"/>

  <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="org.h2.Driver" />
    <property name="url" value="jdbc:h2:file:target/test" />
    <property name="username" value="sa" />
    <property name="password" value="" />
  </bean>

  <bean id="idGenerator" class="org.apache.commons.id.uuid.VersionFourGenerator" />

</beans>
